body {
    background-color: #eee;
}

h1 {
    text-align: center;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.valid {
    border: 2px solid green;
    outline: none;
}

.invalid {
    border: 2px solid red;
    outline: none;
}