@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.title-container {
    background-color: crimson;
    padding: 20px;
    text-align: center;
}

main {
    padding: 60px 20%;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 35px;
}